<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sim's Blog!</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Welcome to my Blog</a></h1>
    </div>
    <div>
      <p>published: 06.11.2019, 10:17</p>
      <h2><a href="">My first post</a></h2>
      <p>Thank you for visiting my blog.</p>
    </div>
    <div>
      <p>published: 06.11.2019, 10:19</p>
      <h2><a href="">My second post</a></h2>
      <p>Visit us more.</p>
    </div>
  </body>
</html>
